<div class = "tudo">
    

    <div *ngIf = "seCadastrando" class = "planilha_de_cadastro">
        <div class = "cabecalho">
            Cadastrar Abrigo
        </div>
        <div class = "hb_logo">
            <img src = "assets/imagens/hb_logo.png">
        </div>

        <div class = "itens_cadastro">
            <table>
                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            Nome
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.nome">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            CNPJ/CPF
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.cnpj_cpf">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            Email
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.email">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            <div class = "descricao_txt">
                                Descrição
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <div class = "descricao">
                                <textarea [(ngModel)] = "abrigo.descricao"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            Quantidade Bichinhos
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.qtd_animais">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            Telefone
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.telefone">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            Rua
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.rua">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            Numero
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.numero">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            CEP
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.cep">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class = "item_cadastro_esq">
                            UF
                        </div>
                    </td>
                    <td>
                        <div class = "item_cadastro_dir">
                            <input [(ngModel)] = "abrigo.uf">
                        </div>
                    </td>
                </tr>
            </table>
            <div class = "cadastrar">
                <div class = "cadastrar_inner_2">
                    Confirmar
                </div>
            </div>
        </div>

    <div class = "separador"></div>

    </div>

    <div *ngIf = "!seCadastrando" class = "cadastre_seu_abrigo">
        <div class = "qtd_de_abrigos">
            Abrigos Cadastrados: {{ qtdDeAbrigos }}
       </div>
    
       <div class = "voce_tem_abrigo">
           Voce é dono ou responsável por um abrigo de animais?<br>
           Se Cadastre!
       </div>
    
       <div class = "cadastrar">
           <div class = cadastrar_inner (click) = "seCadastrando = true">
               Cadastrar
           </div>
       </div>
    </div>
    

   
    
</div>



