

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.barra_de_tarefas{
    color: #5F9998;
}

.barra_de_tarefas ul{
    display: inline-flex;
}

.barra_de_tarefas ul li{
    list-style: none;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
}

.barra_de_tarefas_tudo{
    position: absolute;
    background-color: white;   
    width: 99%; 
    height: 8%;
    top: 1%;
}


.barra_de_tarefas_tudo ul li{
    list-style: none;
    display: inline-flex;
}

.faca_parte_btn{
    border-radius: 10px;
    background-color: #5F9998;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 12%;
}

.faca_parte_btn_inner{
    color: #ffffff;
    font-size: 17px;
}

.hb_logo img{
    position: absolute;
    left: 40%;
    width: 20%;
    top: 1%;
    visibility: hidden;
}

.itens_esquerda{
    position: absolute;
    left: 0%;
    top: 30%;
}


.itens_direita{
    position: absolute;
    right: 12%;
    top: 30%;
}