<div class = "tudo">
    <div class = "comeco">Sobre Nós</div>
    <div class = "meio"> 
        Somos uma plataforma existente com o inuito de dar<br>
        visibilidade para abrigos de animais e trazer para eles mais<br> doações. Pretendemos também promover a interação entre<br>doadores e abrigos de animais, além de contribuir para a <br>
        praticidade e a transparência de informações e trocas<br>
        financeiras. Logo, buscamos com essa plataforma a maior<br>
        comodidade para você, doador, e para a causa social.<br><br>

        Contamos com uma lista de perfis cadastrados onde você<br> pode encontrar as necessidades emergenciais dos locais de<br>
        acolhimento e quais estão mais próximos de você. Também<br>
        oferecemos benefícios para os cadastrados em nosso site,<br>
        desde de descontos com as empresas parceiras até<br>
        o monitoramento de como o seu dinheiro vem sendo usado.<br><br>

        Fazemos parte de um projeto criado por estudantes que<br>
        visam ajudar a causa animal e trazer uma recompensa<br>
        social, Para mais informações, entre em Contato.
    </div>
    <div class = "fim">
        <img src = "assets/imagens/quem_somos_imagem.png">
    </div>
</div>

