

*{
    margin: 0;
    z-index: -1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagem_tela_inicial{
    background-repeat: none;
    background-size: cover;
    margin: auto;
    position: absolute;
    top: 10%;
    width: 100%;
    left: -0.02%;
}

.imagem_tela_inicial img{
    width: 100%;
    
}

.logo_tela_inicial{
    position: absolute;
    top: 55%;
    width: 99%;
    height: 20%;
}

.logo_tela_inicial img{
    width: 50%;
    position: absolute;
    left: 27%;
}

.frase_de_impacto{
    width: 100%;
    position: absolute;
    top: 78%;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}


.saiba_mais_btn{
    border-radius: 10px;
    background-color: #5F9998;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 43%;
    top: 100%;
    color: white;
    font-weight: bold;
    font-size: 200%;
}



