

*{
    margin: 0;
    z-index: -1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    font-size: 100%;
}

.imagem_tela_inicial{
    background-repeat: none;
    background-size: cover;
    margin: auto;
    position: absolute;
    top: 10%;
    width: 100%;
    left: -0.02%;
}

.imagem_tela_inicial img{
    width: 100%;
    
}

.logo_tela_inicial{
    position: absolute;
    top: 55%;
    width: 99%;
    height: 20%;
}

.logo_tela_inicial img{
    width: 50%;
    position: absolute;
    left: 27%;
}

.frase_de_impacto{
    width: 99%;
    position: absolute;
    top: 78%;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}


.saiba_mais_btn{
    border-radius: 10px;
    background-color: #5F9998;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 43%;
    top: 100%;
    color: white;
    font-weight: bold;
    font-size: 200%;
    visibility: hidden;
}

.mapa img{
    position: absolute;
    top: 120%;
    left: 1%;
    width: 45%;
    cursor: pointer;
}

.conheca_os_abrigos_bloco img{
    position: absolute;
    top: 118%;
    width: 48%;
    right: 0%;
}

.faca_sua_contribuicao_btn img{
    position: absolute;
    top: 165%;
    right: 14%;
    cursor: pointer;
}

.total_de_doacoes{
    position: absolute;
    top: 180.5%;
    background-color: #5F9998;
    width: 95%;
    height: 50%;
    padding-left: 5%;
    padding-top: 3%;

    color: white;
    font-weight: bold;
    font-size: 250%;
    display: grid;
    place-items: center;
}

.numero{
    background-color: white;
    color: #3D3168;
    width: fit-content;
    border-radius: 10px;
    font-size: 500%;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2%;
    cursor: pointer;
}