<div class = "tudo">
    <div class = "cabecalho">
        FAQ
    </div>
    
    <div class = "pergunta">
        Como a iniciativa surgiu?
    </div>
    
    <div class = "resposta">
        Através de pesquisas relacionadas à área de animais abandonados,
        reconhecemos a maior dificuldade para mantê-los: a falta de doações.
         Assim, analisamos como seria possível aumentar essa receita e expandir a arrecadação para outros públicos,
         e vimos que uma excelente forma seria atravéz de uma plataforma voltada ao desenvolvimento 
         da empatia e entrega de praticidade e transparência. 
    </div>

    <div class = "pergunta">
        Como faço para doar?
    </div>
    
    <div class = "resposta">
        Vá à aba de cadastro em nosso site e o preencha com suas informações de forma
         prática e rápida. Logo após, você poderá escolher o local para o qual deseja realizar a sua doação. 
         Após escolhido, basta seguir as etapas para concluir o pagamento.
    </div>

    <div class = "pergunta">
        QUais são os benefícios que posso receber?
    </div>
    
    <div class = "resposta">
        Os nossos parceiros oferecem cupons de descontos para determinados produtos em sua loja
         ou departamento. Além disso, você pode optar por receber apenas informações, 
         vídeos, fotos do local para o qual doou.
    </div>

    <div class = "pergunta">
        Onde vejo as informações dos abrigos disponíveis?
    </div>
    
    <div class = "resposta">
        Você pode encontrálas no mapa interativo em nossa página inicial ou no menu 
        de perfis. Lá, estão disponíveis a história do local, os dados para contato,
        planilhas da receita e dos custos, as formas de contribuir e registros do cotidiano 
        do abrigo. 
    </div>

    <div class = "pergunta">
        Por que devo doar?
    </div>
    
    <div class = "resposta">
        Além de ajudar um animalzinho, projetos sociais são importantes para o desenvolvimento
         de uma realidade. E todos eles possuem missões que só podem ser realizadas com recursos
         . Os benefícios de conviver com animais são descritos por diversas pesquisas científicas. 
         No entanto, nem todos podem se dar a esse luxo. Se você é um desses, ajudar abrigos é uma forma
         de se relacionar sem tantos obstáculos.
    </div>
</div>

